/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.row{
    color: red;
    width: 100%;
    font-size: large;
    display: block;
    border: solid;
    margin: 5px;
    
}
.col{
    height: 50%;
    width: 48%;
    display: inline-block;
    margin: 10px;
}
.img{
    width: 100%;
    height: 100%;
    border: springgreen;
    position: absolute;
    right: 10px;
}
.my-list{
    position: absolute;
    top: 40px;
    border: 3px solid green;
    text-align: center;
    position: absolute;
    left: 180px;
}