/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
header{
    background: #92e0e5;
    color: white;
    height: 50px;
    padding: 0 25px;
}
header h1{
    float: left;
    text-indent: -9999px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsimNLuDEYqhpbPaBR4Qd2kZhYCy-e6dcntA&usqp=CAU') no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}
    
header nav{
    float: right;
}
nav li{
    display: inline-block;
    margin: 0 10px;
    
    
}
nav li:hover{
    background: #3f8da7;
    color: white;
    cursor: pointer;
}
#hero{
    background: url('https://static8.depositphotos.com/1004998/880/i/600/depositphotos_8802788-stock-photo-green-grass-on-a-golf.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
}
#hero img{
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #3f8da7;
}
#hero h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.btn{
    background: white;
    border: 5px solid #3f8da7;
    color: #3f8da7;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    
    
    
}
.btn:hover{
    padding: 5px 10px;
    background: #3f8da7;
    color: red;
    border-radius: 50%;
    
    
   
}
.three-col{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 10px;
}
.three-col img{
    border-radius: 50%;
    border: 3px solid #3f8da7;
    height: 200px;
    width: 200px;
    margin: 25px 0;
}
.three-col p{
    margin-bottom: 40px;
}
footer{
    background: #3f8da7;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}
footer ul{
    margin: 40px 0;
}
footer li{
    display: inline-block;
    margin: 0 25px;
}
.link {
    color: white
}
   
.link:hover {
    color: #92E0E5;
}

  









